* {
    box-sizing: border-box;
}

html {
    font-family: 'Mulish', sans-serif;
}


body {
    background-color: #B9DBC1;
}



h2 {
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

nav li {
    display: inline-flex;
    margin: 10px;
}

#about-me-text-container {
    max-width: 600px;
    font-size: 1.2rem;
}


img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    border-radius: 5px;
}

#about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 70%;
    margin: 0 auto;
}

@media only screen and (max-width: 320px) {
    main {
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #2EA85B;
}

p.project-text {
    margin-left: 1vw;
    max-width: 31rem;
}

img.project-image {
    margin-top: 1vw;
    margin-left: 1vw;
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

i.fa {
    padding: 5px;
}